*{
    padding: 0em;
    margin: 0em;
}

:root{
    --titlecolor: #cb5c62;
    --errorcolor: #D8544E;
}

/*=========
HTML, BODY
=========*/

html, body{
    font-size: 12pt;
    font-family: "Times New Roman", serif;
    line-height: 1.5em;
    margin: auto;
}

abbr{
    text-decoration: none;
}

/*====
HEADER
====*/

header{
    text-align: center;
    padding: 1.0em 0em 1.0em 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

header h1{
    content: url(images/logo_black.png); 
    height: 100pt;
}

#menu_hamburger{
    display: none;
}

/*========
BREADCRUMB
========*/

#breadcrumb{
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1.0em;
    border: 1px solid #000;
    margin-bottom: 2em;
}

/*==
MENU
==*/

#menu{
    display: none;  
}

/*==
MAIN
==*/

main{
    padding: 2.5em;
    text-align: justify;
}

/*=======
CONTENUTO
=======*/

.info h2, .info h3, .info h4, h2{
    padding: 0.5em 0em;
}

.info h2, h2{
    line-height: 1.4em;
    font-size: 2.5em;
} 

.info h3{
    font-size: 1.5em;
} 

.info h4{
    padding-top: 1em;
    font-size: 1.5em;
} 

    /*=====
    BOTTONI
    =====*/

    .infoButton{
        display: block;
        margin: 0.6em auto;
        font-weight: bold;
        text-align: center;
        border: 1px solid var(--titlecolor);
        border-radius: 1em;
        width: auto;
        padding: 0.5em ;
        font-size: 1.2em;
        text-decoration: none;
    }

/*=========
TORNA SOPRA
=========*/

#torna_su {
    display: none;
}

/*====
FOOTER
====*/

#footer{
    display: none;
}

    /*=======
    OPEREHOME
    =======*/

    #operehome{
        flex-direction: column;
    }

    /*=======
    BIOGRAFIA
    =======*/

    #biografia dl dt{
        font-weight: bold;
        font-size: 2em;
        line-height: normal;
        padding: 0.25em;
    }

    #biografia dl dt:nth-of-type(n), #biografia dl dd:nth-of-type(n){
        width: 100%;
        display: block;
        text-align: justify;
    }

    /*===
    OPERE
    ===*/

    #opere li a span{
        display: none;
    }

    /*===
    OPERE
    ===*/

    #opere {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2em;
        grid-template-areas: "o13 o13 o13 o13 o13 o4  o4  o7  o7  o7"
                            "o13 o13 o13 o13 o13 o4  o4  o7  o7  o7"
                            "o1  o1  o1  o1  o1  o4  o4  o7  o7  o7"
                            "o1  o1  o1  o1  o1  o6  o6  o6  o6  o6"
                            "o2  o2  o3  o3  o8  o8  o9  o9  o19 o19"
                            "o5  o5  o5  o5  o16 o16 o16 o16 o14 o14"
                            "o5  o5  o5  o5  o17 o17 o17 o17 o18 o18";
    }

    #opere li{
        padding: 0.3em;
        border: solid 2px var(--linkcolor);
    }

    #opere li a img{
        width: 100%;     
        height: 100%;
        position: relative;
        object-fit: cover;
    }

    #opera1{
        grid-area: o1;
    }

    #opera2{
        grid-area: o2;
    }

    #opera3{
        grid-area: o3;
    }

    #opera4{
        grid-area: o4;
    }

    #opera5{
        grid-area: o5;
    }

    #opera6{
        grid-area: o6;
    }

    #opera7{
        grid-area: o7;
    }

    #opera8{
        grid-area: o8;
    }

    #opera9{
        grid-area: o9;
    }

    #opera13{
        grid-area: o13;
    }

    #opera14{
        grid-area: o14;
    }

    #opera16{
        grid-area: o16;
    }

    #opera17{
        grid-area: o17;
    }

    #opera18{
        grid-area: o18;
    }

    #opera19{
        grid-area: o19;
    }

        /*===
        OPERA
        ===*/

        #pagina_opera > div > img{
            width: 60%;
        }

    /*==
    FORM
    ==*/

    form{
        text-align: center;
    }

    form input, form label, form select{
        display: block;
        font-size: 1.2em;
    }

    form label {
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    input[type="text"], input[type="number"], input[type="password"] {
        border-radius: 1em;
        border: 2px solid #000;
        width: 50%;
        padding: 0.5em;
        margin: 0em auto;
        margin-bottom: 2em;
    }

    /*============
    AREA PERSONALE
    ============*/

    #datiprofilo img{
        margin-top: 0.5em;
        width: 40pt;
        height: 40pt;
        border-radius: 50%;
        border: 1px solid #000;
    }

    /*==============
    MODIFICA PROFILO
    ==============*/

    .modifica_dati div input, .modifica_dati div label, .modifica_dati input[type="submit"]{
        margin: 0;
    }

    #cambio_immagine_profilo img{
        width: 40pt;
        height: 40pt;
        border-radius: 50%;
        border: 1px solid #000;
    }

    .modifica_dati fieldset{
        border: none;
    }

    .ordini_effettuati{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        border-bottom: 1px solid #000;
    }

    .ordini_effettuati li {
        padding: 0.5em 0em;
        color: var(--titlecolor);
        font-weight: bold;
    }

    .ordini_effettuati + ul{
        list-style-type: none;
    }

    .ordini_effettuati + ul > li{
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .ordini_effettuati + ul li ol{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
    }

    .ordini_effettuati + ul li ol li{
        border: none;
    }

    .ordini_effettuati + ul li ol li img{
        width: 100%;
        height: auto;
        max-width: 12em;
    }

    .ordini_effettuati + ul li ol li:nth-child(3){
        grid-column: 3/6;
        width: 100%;
    }

    .ordini_effettuati + ul li ol li dl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
    }

    .ordini_effettuati + ul li ol li button, .ordini_effettuati + ul li ol li dl dt{
        display: none;
    }

    .informazioni_prodotto{
        display: none;
    }

    /*============
        FORM INDIRIZZO
        ============*/

        .form_indirizzo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            grid-template-areas: "leg leg"
                                 "pr ci"
                                 "cap in"
                                 "ncv nct";
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .form_indirizzo legend{
            grid-area: leg;
            margin: auto;
        }

        .form_indirizzo div:nth-of-type(1){
            grid-area: pr;
        }
        
        .form_indirizzo div:nth-of-type(2){
            grid-area: ci;
        }
        
        .form_indirizzo div:nth-of-type(3){
            grid-area: cap;
        }
        
        .form_indirizzo div:nth-of-type(4){
            grid-area: in;
        }
        
        .form_indirizzo div:nth-of-type(5){
            grid-area: ncv;
        }
        
        .form_indirizzo div:nth-of-type(6){
            grid-area: nct;
        }

        /*======================
        FORM METODO DI PAGAMENTO
        ======================*/

        .form_pagamento{
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .form_pagamento div, .form_pagamento div fieldset{
            width: 100%;
        }
        
        .form_pagamento div fieldset{
            border: none;
        }

        .form_pagamento div fieldset legend{
            font-weight: bold;
            font-size: 1.2em;
        }

        .form_pagamento legend{
            margin: auto;
        }

        .form_pagamento div fieldset div label{
            font-weight: normal;
        }


    /*===================
    INDIRIZZO E PAGAMENTO
    ===================*/

    #indirizzo + dd dl{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #pagamento + dd dl{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #indirizzo + dd dl dt{
        text-align: left;
    }

    #indirizzo + dd dl dd{
        text-align: right;
    }

    #pagamento + dd dl dt{
        text-align: left;
    }

    #pagamento + dd dl dd{
        text-align: right;
    }

    /*=====
    NEGOZIO
    =====*/

    .negozio{
        justify-content: space-around;
        list-style-type: none;
    }

    .negozio li {
        width: 27%;
        border-radius: 1em;
        padding: 0.5em;
        margin: 1em;
    }

    .negozio li img{
        width: 50%;
    }

    .negozio li p{
        padding: 0.5em;
        color: var(--titlecolor);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    .negozio li p + p{
        color: var(--txtcolor);
        text-align: center;
        font-size: 1.1em;
    }

    /*=============
    PAGINA PRODOTTO
    =============*/

    #pagina_prodotto > div{
        width: 55%;
    }

    #pagina_prodotto > div + div{
        width: 45%;
    }

    #pagina_prodotto > div > img{
        max-width: 250pt;
    }

    #pagina_prodotto div dl{
        align-items: flex-start;
    }

    #pagina_prodotto > div > dl{
        padding-left: 1em;
        border-left: 1px solid var(--titlecolor);
    }

    #pagina_prodotto div dl dt{
        font-weight: bold;
    }

    #pagina_prodotto > div > dl > dt{
        color: var(--titlecolor);
    }

    #pagina_prodotto div dl dd ol{
        list-style-type: none;
    }

    #pagina_prodotto div dl dd form{
        align-items: flex-start;
    }

    #pagina_prodotto div dl dd form input[type="submit"]{
        width: auto;
    }

    #pagina_prodotto div dl dd form div label{
        color: var(--titlecolor);
        margin: 0;
    }

    .seleziona_modello img{
        max-width: 40pt;
        border: 1px solid var(--txtcolor);
        border-radius: 1em;
    }

    .seleziona_modello img:hover {
        cursor: pointer;
        border-color: var(--breadtextcolor);
        box-shadow: 0px 1px 5px 1px var(--breadtextcolor);
    }

    .seleziona_modello [type=radio] { 
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .seleziona_modello [type=radio]:checked + img{
        border-color: var(--breadtextcolor);
        box-shadow: 0px 1px 4px 2px var(--breadtextcolor);
    }

    #pagina_prodotto div dl dd dl div dd{
        padding-left: 0.5em;
    }

    #info_prodotto{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #info_prodotto dd{
        text-align: right;
    }

        /*========
        RECENSIONI
        ========*/

        #inserimento_recensione img{
            width: 30pt;
            height: 30pt;
            border-radius: 50%;
            border: 1px solid #000;
        }

        #inserimento_recensione p{
            font-size: 1.2em;
            padding-bottom: 0;
        }

        #inserimento_recensione form input{
            width: auto;
        }

        #inserimento_recensione form textarea{
            max-width: 40em;
            background: var(--bgcolor);
            border-color: var(--titlecolor);
            padding: 1em;
            color: var(--txtcolor);
            font-size: 1.2em;
            line-height: 1.2em;
        }

        #inserimento_recensione{
            border-bottom: 1px solid var(--titlecolor);
            margin-bottom: 1em;
        }

        #stelle_recensione{
            flex-direction: row-reverse;
        }
        
        #stelle_recensione input[type=radio] {
            display: none;
        }

        #stelle_recensione input[type=radio] + .voto_prodotto::before {
        content: "☆";
        color: var(--titlecolor);
        font-weight: normal;
        }

        #stelle_recensione input[type=radio]:checked ~ .voto_prodotto::before {
        content: "★";
        color: var(--titlecolor);
        font-weight: normal;
        }

        #recensioni img{
            width: 30pt;
            height: 30pt;
            border-radius: 50%;
            border: 1px solid #000;
        }

        #recensioni div{
            justify-content: flex-start;
            column-gap: 2em;
            width: 65%;
        }

        #recensioni div dl{
            align-items: flex-start;
            width: 100%;
        }

        #recensioni p, #recensioni ol{
            color: var(--titlecolor);
        }

        #recensioni ol{
            list-style-type: none;
        }

        #recensioni div dl dd:nth-of-type(1){
            font-weight: bold;
        }

    /*=============
    PAGINA CARRELLO
    =============*/

    #intestazione_carrello{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        border-bottom: 1px solid var(--titlecolor);
    }

    #intestazione_carrello li {
        padding: 0.5em 0em;
        color: var(--titlecolor);
        font-weight: bold;
    }

    #lista_carrello{
        list-style-type: none;
    }

    #lista_carrello > li{
        border-bottom: 1px solid #000;
        width: 100%;
    }

    #lista_carrello li ol{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
    }

    #lista_carrello li ol li{
        border: none;
    }

    #lista_carrello li ol li img{
        width: 50pt;
        height: auto;
        max-width: 12em;
    }

    #lista_carrello li ol li:nth-child(4){
        grid-column: 4/8;
        width: 100%;
    }

    #lista_carrello li ol li dl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        list-style-type: none;
    }

    #lista_carrello li ol li button, #lista_carrello li ol li dl dt{
        display: none;
    }

    #lista_carrello li ol li label{
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    #lista_carrello li ol li input{
        margin: auto;
    }

    #footer_carrello dl {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        grid-template-areas: ". . . . tot num .";
        font-weight: bold;
        padding-top: 1em;
    }

    #footer_carrello dl dt {
        grid-area: tot;
    }

    #footer_carrello dl dd {
        grid-area: num;
    }

    /*================
    MESSAGGIO POSITIVO
    ================*/

    .positivo{
        border: 1px solid #000;
    }

    .positivo p{
        text-align: center;
        padding-bottom: 0;
    }

    .error {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5em;
        border: 1px solid var(--errorcolor);
        color: var(--bgcolor);
        padding: 1em;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }

    .none {
        display: none;
    }

/*======
GENERALI
======*/

.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
}

.flex_wrap{
    display: flex;
    flex-wrap: wrap;
}

.no_gap{
    row-gap: 0em;
    column-gap: 0em;
}
